<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/output/dist/css/work.css">
</head>
<body>

  <div id="app" style="height: 100%"></div>
  <script src="/output/dist/js/vendor.js"></script>
  <script src="/output/dist/js/work.js"></script>
</body>
</html>
