<html>
  <head>
    <title>example</title>
    <link href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    
    <div>
  
  
      <main role="main">
  
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">404 Not Found</h1>
             
          </div>
        </div>
  
       
      </main>
  
      <footer class="container">
        <p>&copy; Company 2017-2018</p>
      </footer>
    </div> 
 

  </body> 
</html>