<html>
    <head>
        <title>index</title>
    </head>
    <body>
        <h1>hello world</h1>
        <ul>
            <li>
                <a href="http://127.0.0.1:3000/index">http://127.0.0.1:3000/index</a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/helloworld">http://127.0.0.1:3000/helloworld</a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/todo">http://127.0.0.1:3000/todo</a>
            </li>
            <li>
                <a href="http://127.0.0.1:3000/data">http://127.0.0.1:3000/helloworld</a>
            </li>
        </ul>
    </body>
</html>